body {
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    line-height: var(--line-height);
    color: var(--font-color);
}
:root {
    --color-primary: #ee3425;
    --color-primary-1: #ee3425;
    --color-primary-2: #ee3425;
    --color-secondary: #fbdc00;
    --color-secondary-1: #ebbe00;
    --font-color: #434343;
    --font-color-heading: #000;
    --font-color-link: var(--color-primary);
    --font-family: "PT Sans",sans-serif;
    --font-family-heading: "Ubuntu",sans-serif;
    --font-size-xl: 18px;
    --font-size-lg: 16px;
    --font-size-md: 14px;
    --font-size-sm: 12px;
    --font-size-xs: 10px;
    --line-height: 1.5;
}
.box_full {
    margin: -8px;
}
.box_lower_info {
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 30px;
    background: #ebbe00;
}
.cogoport_copyright {
    display: flex;
    margin-left: 10px;
    font-family: var(--font-family-heading);
    font-size: 12px;
    font-weight: 700;
    list-style-type: none;
}
.box_lower_info_tnc_policy li {
    padding: 0 5px;
}
.Terms_and_Condition {
    margin-right: 5px;
    
}
.Cookie_policy {
    margin-right: 5px;

}
.Privacy_and_Data_Protection_Policy {
    margin-right: 5px;
      
}
.box_lower_info_tnc_policy {
    float:right;
}
.box_list {
    float: right;
}
.ul_box_list {
    float: right;
}
.box_list li {
    display: inline;
}
.box_lower_info_2div {
    padding: 8px 30px ;
    display: flex;
    align-items: center;
    margin-left: -32px;
}
* {
    box-sizing: border-box;
}
.ul_box_list {
    display: flex;
    margin-right: -50px;
    font-family: var(--font-family-heading);
    font-size: 12px;
    font-weight: 700;
    list-style-type: none;
    padding: 0 0px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
ul.col_1 li a:link{
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
.box_insts_logo {
    margin-left: 340px;
    padding: 8px 30px;
    
    
}

a.col:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a.col:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
a.col:hover {
  color: red;
  /* font-weight:bolder; */
  background-color: transparent;
}
a.col:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
ul.col_1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.col_2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.col_3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.col{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.col_1 {
    display: flex;
    padding: 0px 0px 0;
    flex-direction: column;
    margin-left: -10px;
}
.col_2 {
    display: flex;



    padding: 0px 0px 0px 0px;
    flex-direction: column;
}
.col_3 {
    display: flex;
    padding: 0px 0px 0px 0px;
    flex-direction: column;
    margin-right: -10px;
}
.col {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding: 13px 26px 0;
    background-color: #ebbe00;
}
ul.tab_1 {
    list-style-type: none;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 50px;
}
ul.tab_2 {
    list-style-type: none;
    margin-left: 50px;
    padding: 0;
}
ul.tab_3 {
    list-style-type: none;
    margin-left: 50px;
    padding: 0;
}
ul.tab_4 {
    list-style-type: none;
    margin-left:  50px;
    padding: 0;
}
ul.tab_5 {
    list-style-type: none;
    margin-left: 50px;
    padding: 0;
}
.box_upper_footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    padding: 35px 10px 50px;
    font-family: var(--font-family);
    background: #fbdc00;
}
.list_1 {
    margin-right: -30px;
}
.list_2 {
    margin-right: 10px;
}
.list_3 {
    margin-right: 00px;
}
.list_4 {
    margin-right: 0px;
}
.list_5 {
    padding: 0 80px;
    margin-right: 0px;
    
}
.product {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 6px;
    padding: 0 50px;
    
}
.Partners {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 56px;
}
.Company {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 55px;
}
.Knowledge_center{
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 54px;
}
.Cross_border_Logistic {
    font-weight: bold;
}
.Domestic_Logistics {
    font-weight: bold;

}
.Supply_Chain_Solutions{
    font-weight: bold;
}
.Financial_Sevice{
    font-weight: bold;
}
.Our_Logistics_Providers{
    font-weight: bold;
}
.Partnership_Program{
    font-weight: bold;
}
.Resources{
    font-weight: bold;
}
ul.tab_1 li{
    padding: 3px;
}
ul.tab_2 li{
    padding: 3px;
}
ul.tab_3 li{
    padding: 3px;
}
ul.tab_4 li{
    padding: 3px;
}
ul.tab_5 li{
    padding: 3px;
}
.how_it_works {
    width: 1045px;
}
.how_it_works_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 320px;
}
h3 {
    align-self: center;
    font-size: 28px;
    line-height: 1.2;
}
.how_it_works_button {
    display: flex;
    justify-content: space-between;
}
.how_it_works_cont
.For_Cargo_Owners_button {
    width: 200px;
    padding: 10px;
    margin: 0 20px;
    font-weight: 700;
    color: #000!important;
    border-radius: 20px;
}
.For_Cargo_Owners_button {
    border-radius: 20px;
    background-color: var(--color-secondary)!important;
    border: var(--color-secondary)!important;
}
.how_it_works_cont
.For_Logistics_Partners_button {
    width: 200px;
    padding: 10px;
    margin: 0 20px;
    font-weight: 700;
    color: #000!important;
    
}
.For_Logistics_Partners_button {
    border-radius: 20px;
    background: #e5dfdf!important;
    border: grey!important;
}
.how_it_works_styles {
    position: relative;
    display: flex;
}
.how_it_works_head_svg {
    display: flex;
    margin-bottom: 15px;
}
.how_it_works_dis_exe_pla_fin {
    font-weight: bolder;
    font-size: 20px;
    margin-left: 8px;
    margin-top: 5px;
}
div {
    display: block;
}
.how_it_works_styles {
    position: relative;
    display: flex;
}
.how_it_works_styles_2 {
    margin-bottom: 120px;
}
.how_it_works_styles_1 {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}
.img_abv_arrow3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.how_it_works_styles_para_red_head {
    font-weight: 600;
    color: #ee3425;
}

p {
    font-size: 16px;
}
.styles_heading__GyQVu {
    display: flex;
    align-items: center;
    padding: 0 0 10px;
    margin: 0;
    list-style-position: outside;
}
.how_it_works_styles_1 span {
    display: flex;
}
.how_it_works_styles_para {
    padding-bottom: 0px;
    padding-left: 8px;
    margin: 0;
}
.how_it_works_styles_arrow1 {
    position: absolute;
    top: 104px;
    left: 300px;
}
.arrow_img_sty {
    width: 150px;
    height: 60px;
    margin-bottom: 75px;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
}
.how_it_works_styles_1 span {
    display: flex;
}
.how_it_works_styles_para {
    padding-bottom: 5px;
    padding-left: 8px;
    margin: 0;
}
.how_it_works_styles_1 {
    width: 310px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}
.how_it_works_styles_arrow2 {
    position: absolute;
    bottom: 116px;
    left: 300px;
}
.arrow_img_sty {
    width: 150px;
    height: 60px;
}
.img_abv_arrow3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_blo_arrow3_style {
    width: 560px;
    height: 320px;
}
.how_it_works_styles_arrow3 {
    position: absolute;
    top: 104px;
    right: 300px;
}
.how_it_works_styles_arrow4 {
    position: absolute;
    right: 300px;
    bottom: 116px;
}
.how_it_works_styles_1_2 {
    margin-bottom: 120px;
}
.Blog_outter_main_container {
    width: 1200px;
}
.Blog_cont_in {
    display: flex;
    flex-direction: column;
}
.styles_heading__n9MVL {
    text-align: center;
}
h3 {
    font-size: 28px;
    line-height: 1.2;
}
.Blog_cont_in_cont {
    display: flex;
    flex-wrap: wrap;
    margin-right: -120px;
    margin-left: -120px;
}
.Blog_cont_in_cont_prent {
    width: calc(calc(100% / 3) - 20px);
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    overflow: hidden;
    text-align: start;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 6px hsl(0deg 0% 79% / 50%);
}
.Blog_cont_in_cont_prent a {
    color: #000!important;
    text-decoration: none;
}
.Blog_cont_in_cont_prent_img {
    display: block;
    width: 100%;
    height: 200px;
    background-color: #fbdc00;
    -o-object-fit: cover;
    object-fit: cover;
}
.Blog_cont_in_cont_prent_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 16px;
}
.Blog_industry_trends {
    margin-bottom: 5px;
    font-size: 16px!important;
    color: var(--color-primary);
}
.Blog_industry_year_rev {
    margin-bottom: 5px;
    font-size: 18px;
    color: #000!important;
}
.Blog_overview_p {
    max-height: calc(1.4rem * 3);
    overflow: hidden;
}
.Blog_pre_read {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Blog_read_more {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--color-primary);
    cursor: pointer;
}
.Blog_card_title {
    margin-bottom: 5px;
    font-size: 14px!important;
    color: #9a9a9a;
}
.Blog_outter_main_container_style {
    width: 960px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
}
.Blog_button {
    justify-content: center;
    text-align: center;
}
.blog_button_sty{
    color: #fff;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 8px 42px;
    border-radius: 4px;
}
#navbar{
    position: fixed; 
    z-index: 100;
    display: flex;
    width: 100%;
    background-color: #fbdc00;
     
 }
 h1, h2, h3, h4, h5, h6,p {
    font-family:"Ubuntu",sans-serif;
    font-size:16px;
    color: #000;
 }
 .logo{
     /* display: inline-block; */
     /* margin-left: 40px; */
     /* z-index: 100; */
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 90px;
     margin-inline-end: 80px;
     padding-inline-start: 40px
     /* box-sizing: border-box; */
 }
 
 button {
     font-family: "PT Sans",sans-serif;
     font-size: 14px!important;
     font-weight: 700!important;
 }
  #navbar ul {
     display: flex;
     align-items: center;
     list-style-type: none;
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 40px;
     margin-inline-end: 0px;
     padding-inline-start: 80px
  }
  /* ul {
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     padding-inline-start: 40px
  } */
  #navbar ul li{
     display: flex;
     font-weight: bold;
     margin-left: 20px;
     /* border-radius: 40px; */
     /* justify-content: center; */
     cursor: pointer;
  }
  #navbar ul li div:hover{
     color: red;
  }
  /* ul.navlist2{ */
     /* display: flex; */
     /* margin-right: 1px;
     margin-left: 20px;
     margin-right: 20px;   */
     /* float: right; */
  /* } */
  .sign_up{
     /* min-width:62px;
     height: 36px; */
     /* margin-inline-start: 100px; */
     /* margin-inline-end: px; */
     /* justify-content: center; */
     background-color: red; 
     border: 8px solid red;
     border-radius: 10px;
     border-color: red;
     padding-inline-end: 1rem;
  }
  .button_signup{
     color: #fff;
     font-size: 15px;
     /* margin-inline-start: 40px; */
     /* margin-inline-end: 5px; */
     justify-content: center;
     background-color: red;
     /* border-radius: 4px 16px solid red; */
     border: none;
     padding: 1px 2px;
     /* border-radius: 10px; */
  }
  .header_img{
    /* position: fixed; */
    display: flex;
    width: 100%;
    /* z-index: 100; */
    padding-top: 87px;
    /* margin-top: -7px; */
    background: url(https://cdn.cogoport.io/cms-prod/cogo_public/vault/original/home-banner-background-1.webp);
    background-color: #fbdc00;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
 }
 .written_part{
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    /* align-items: center; */
    /* margin-top: auto; */
    /* width:; */
    margin-left: 100px;
 }
 .header_img_girl {
    margin-bottom: -50px;
    margin-right: 75px;
}
 h1 {
    display: block;
    font-size: 40px;
    margin-block-start: 3em;
    margin-block-end: 0.6em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2{
   /* display: block; */
   font-size:40px;
   /* margin-block-start: 0.83em;
   margin-block-end: 0.43em;
   margin-inline-start: 0px;
   margin-inline-end: 0px; */
   font-weight: bold;
}
h4{
display: block;
/* margin-block-start: 1.33em;
margin-block-end: 1.33em; */
margin-inline-start: 0;
margin-inline-end: 0;
font-weight: bold;
/* margin-top: -35px; */
}
.number_upper_part{
    width: 1200px;
    /* padding: 40px; */
    margin-left: auto;
    margin-right: auto;
 }
 .number_middle_part{
    /* align-items: center; */
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: -40px;
    /* padding: 2px 4px; */
 }
 .number_lower_part{
    display: flex;
     flex-direction: column;
     align-items: center;
     /* justify-content: center; */
 }
 .numbers{
    color: red;
    font-size: 40px;
    margin-bottom: -25px;
 
 }
 .before_curve{
    background: #fffef2;
 }
 .make_curve{
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom-left-radius: 100% 150%;
    border-bottom-right-radius: 100% 150%;
 }
 .main_2nd{
    display: flex;
    /* margin-top: 40px; */
    background: #fffef2;
    /* background: ; */
 }
 .inside_main_2nd{
    display: flex;
    margin-top: 40px;
     padding: 26px;
    /* margin-right: auto; */
    margin-left: auto;
 
 }
 .one_stop{
    flex: 1 1;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right:auto;
    margin-left: 90px;
    margin-bottom: 50px;
 }
 .one_stop_p{
    font-size: 16px;
    margin-top: -25px;
 }
 .image_plan{
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
    margin-right: 55px;
 }
 .product_image{
    display: block;
    width: 500px;
    object-fit: contain;
    height: 100%;
 }
.how_it_works_heading {
    font-size: 28px;
}
.Blog_cont_in_h3 {
    font-size: 26px;
}
.subscribe{
    display: flex;
    background: #fbdc00;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
    padding: 20px 20px;
    
 }
 .human{
    padding: 20px;
    margin: 20px;
 }
 .newsletter h3{
    font-size:28px;
    margin-bottom: 5px;
    
 }
 .miss{
    font-size: 16px;
    font-family: "PT Sans",sans-serif;
    color: #434343;
    /* margin: ; */
 }
 .email_id{
    display: flex;
    margin-top: 20px;
    /* width: 240px; */
 }
 .email_id input[type=email]{
    box-sizing: border-box;
     display: inline-block;
     width: 250px;
     height: 36px;
     padding: 10px;
     border: 2px solid transparent;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
     outline: none;
 }
 .email_id button[type=submit]{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 4px 16px;
    border: 2px solid red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ee3425;
    cursor: pointer;
 }
 .video{
    position: relative;
    cursor: pointer;
    /* background-color: rgba(0,0,0,.4); */
 }
 
 .play_button{
    position: absolute;
    display: flex;
    /* margin-top:8px; */
     align-items: center; 
    justify-content: center; 
    background-color: rgba(0,0,0,.4);
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
 }
 .video_below{
    background: #ee3425;
    position: relative;
    margin-top:-15px;
    margin-bottom: 40px;
    padding: 20px;
    padding-bottom: 30px;
 }
 .grow_fast{
    display: flex;
    width: 1200px;
    align-items: center;
    /* color: #fff; */
    padding: 0px;
    justify-content: space-between;
 }
 .grow_fast h3{
    color: #fff;
    font-size: 28px;
    margin-left: 70px;
 }
 .grow_fast p{
    color: #fff;
    font-size: 16px;
    margin-left: 70px;
    margin-top: -20px;
 }
 .grow_fast a{
    display: flex;
    height: 36px;
    background: #fbdc00;
    /* border: 1px solid red; */
    /* border-radius: 5px; */
    align-items: center;
    /* justify-content: space-around; */
    padding: 6px 9px;
    /* border: none; */
    text-decoration: none;
    color: #000;
    font-size:14px;
    font-family: "PT Sans",sans-serif;
    font-weight: 700;
    border-radius: 4px;
 }
 .serve{
    background: #fffef2;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
 }
 .served{
    text-align: center;
    margin-top: -85px;
    font-size: 28px;
    padding:30px 0px 0px 0px
 }
 .service_img{
    display: flex;
    width: 1366px;;
    justify-content: space-around;
    padding: 0px 0px 40px ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    /* margin-bottom: 40px; */
 }
 .service_img img{
    width: 100px;
    height: 100px;
 }
 .home_button{
    color: #fff;
    background-color: red;
    /* align-items: center; */
    /* justify-content: center; */
    border: 8px solid red;
    padding: 5px 35px;
    border-radius: 10px ;
    cursor: pointer;
}
.products{
    /* display: flex; */
    width: 100%;
    background: #fffef2;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 50px;
    margin-top: -35px;
 }
 .our_products{
    text-align: center;
    font-size: 28px;
 }
 .services{
    /* display: flex; */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
 }
 .inside_services_1{
    display: flex;
    align-items: center;
    margin-left: 80px;  
 }
 .inside_services_2{
    display: flex;
    align-items: center;
    margin-left: 80px;  
 }
 .inside_services_3{
    display: flex;
    align-items: center;
    margin-left: 80px;  
 }
 .inside_services_4{
    display: flex;
    align-items: center;
    margin-left: 80px;  
 }
 .service_name{
    /* width: 300px; */
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    font-size: 24px;
    color: #000; 
 }
 .service_box{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 184px;
    height: 160px;
    padding: 10px 7px;
    margin: 10px;
    background: #fff;
    border: 1.5px solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
 }
 .service_box:hover{
    border-color: red;
    cursor: pointer;
 }
 .find_out{
    display: flex;
    color: red;
    font-weight: 700;
 }
 /* .svg_change{
    fill: none;
    padding: 1px;
    width: 60;
    height: 60;
 }   */
 .companies{
    margin-bottom: 40px;
 }
 .trust{
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
 }
 .companies_logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
 }
 .companies_logo img{
    /* margin-top: 40px; */
    width:100px;
    /* align-items: center; */
 }
 .next_level{
    display: flex;
    justify-content: center;
    /* min-width: 100%; */
    /* height: 100px; */
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 5px 0px;
    background-color: #fbdc00;
 
 }
 .next_level_content{
    padding: 10px;
 }
 .next_level_content h3{
    font-size:28px
 }
 .started_button{
    display: flex;
    align-items: center;
     height: 36px; 
    margin-top: 35px;
    background-color: red;
    border:2px solid red;
    border-radius: 5px;
    padding: 5px 14px;
    font-size: 14px;
    font-weight: 700;
    /* margin-: auto; */
    color: #fff;
    cursor: pointer;

 }
 .box_lower_info{
    display: flex;
    margin-top: -5px;
 }
 .whole_foot{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .get_started_today_main {
    display: flex;
     margin-left: 150px;
      width: 1200px;
      padding: 16px 100px; 
      margin-top:55px;
      margin-bottom:100px;
 }
 .get_started_today_main_inside {
    margin-right: 100px;
 }
 .get_started_today_img {
    display: block; width: 280px; height: 320px; margin-left: 200px;
 }
 .get_started_button {
    color: #fff;
     font-size: 15px;
     justify-content: center;
     background-color: red;
     border: none;
     padding: 12px 35px;
     border-radius: 8px;
 }
 .get_started_today_inside_h1 {
    margin-top: -65px;
    margin-left: -50px;
 }
 .newsletter_ke_uprwala_curve {
    background: #fbdc00;
    margin-top: 10px;
    margin-bottom: 0px;
}
.newsletter_ke_uprwala_curve_style {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom-right-radius: 100% 150%;
    border-bottom-left-radius: 100% 150%;
}
.customs_cfs_amp {
    margin-top: -20px;
    margin-bottom: -15px;
    text-align: center;
}
.door_to_door {
    margin-top: -30px;
    margin-bottom: -7px;
}
.trailer_h4 {
    text-align: center;
    margin-top: -27px;
    margin-bottom: -8px;
}
.service_name_4 {
    font-size: 24px;
    margin-right: 187px;
}
.service_name_1 {
    font-size: 24px;
}
.service_name_2 {
    font-size: 24px;
    margin-right: 177px;
}
.service_name_3 {
    font-size: 24px;
    margin-right: 127px;
}